node_modules/
food/build/*
food/build/static/media/serve.37471d6e.svg
food/build/static/media/recycling.4dad010c.svg
food/build/static/media/logo.5d5d9eef.svg
food/build/static/media/5-star.5c8d1771.svg
food/build/static/media/4-star.46afa158.svg
food/build/static/media/3-star.4f729415.svg
food/build/static/media/3-recycle.00fffdba.svg
food/build/static/media/3-dollar.4de8a33e.svg
food/build/static/media/2-star.f0aaa03d.svg
food/build/static/media/2-recycle.1ab65357.svg
food/build/static/media/2-dollar.7e1891e1.svg
food/build/static/media/1-star.8cdf8e7e.svg
food/build/static/media/1-recycle.250b3552.svg
food/build/static/media/1-dollar.2ee0b59d.svg
food/build/static/media/0-star.9c1e360f.svg
food/build/static/media/0-recycle.3eed0896.svg
food/build/static/media/0-dollar.3d616f4b.svg
food/build/static/js/runtime-main.6a3577f1.js.map
food/build/static/js/runtime-main.6a3577f1.js
food/build/static/js/main.4e1e2c47.chunk.js.map
food/build/static/js/main.4e1e2c47.chunk.js
food/build/static/js/2.d008f5dd.chunk.js.map
food/build/static/js/2.d008f5dd.chunk.js.LICENSE.txt
food/build/static/js/2.d008f5dd.chunk.js
food/build/static/css/main.6198c01c.chunk.css.map
food/build/static/css/main.6198c01c.chunk.css
food/build/service-worker.js
food/build/robots.txt
food/build/precache-manifest.ca1cacf380716bb65e2d110af62a51f6.js
food/build/manifest.json
food/build/logo512.png
food/build/logo192.png
food/build/index.html
food/build/favicon.ico
food/build/asset-manifest.json
food/build/static/media/serve.37471d6e.svg
food/build/static/media/recycling.4dad010c.svg
food/build/static/media/logo.5d5d9eef.svg
food/build/static/media/5-star.5c8d1771.svg
food/build/static/media/4-star.46afa158.svg
food/build/static/media/3-star.4f729415.svg
food/build/static/media/3-recycle.00fffdba.svg
food/build/static/media/3-dollar.4de8a33e.svg
food/build/static/media/2-star.f0aaa03d.svg
food/build/static/media/2-recycle.1ab65357.svg
food/build/static/media/2-dollar.7e1891e1.svg
food/build/static/media/1-star.8cdf8e7e.svg
food/build/static/media/1-recycle.250b3552.svg
food/build/static/media/1-dollar.2ee0b59d.svg
food/build/static/media/0-star.9c1e360f.svg
food/build/static/media/0-recycle.3eed0896.svg
food/build/static/media/0-dollar.3d616f4b.svg
food/build/static/js/runtime-main.6a3577f1.js.map
food/build/static/js/runtime-main.6a3577f1.js
food/build/static/js/main.4e1e2c47.chunk.js.map
food/build/static/js/main.4e1e2c47.chunk.js
food/build/static/js/2.d008f5dd.chunk.js.map
food/build/static/js/2.d008f5dd.chunk.js.LICENSE.txt
food/build/static/js/2.d008f5dd.chunk.js
food/build/static/css/main.6198c01c.chunk.css.map
food/build/static/css/main.6198c01c.chunk.css
food/build/service-worker.js
food/build/robots.txt
food/build/precache-manifest.ca1cacf380716bb65e2d110af62a51f6.js
food/build/manifest.json
food/build/logo512.png
food/build/logo192.png
food/build/index.html
food/build/favicon.ico
food/build/asset-manifest.json
