$primaryColor: #eef311;

.MuiAppBar-colorPrimary {
    //background-color: $primaryColor !important;
    ///color: black !important;
}

.recycle-badge {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    
    border-radius: 50%;
    svg {
        //padding: 0.5rem;
        width: 100%;
        max-height: 200px;
    }
    .recycle-number {
        font-size: 2rem;
        position: absolute;
        right: 45%;
        bottom: 50%;
    }
}

.MuiButton-label {
    a {
        color: white;
        text-decoration: none;
    }
}

.MuiGrid-root {
    .grown {
        
        width: 100% !important;
        max-width: 100% !important;
        flex-basis: 100% !important;
        transition: width 0.3s linear, max-width 0.3s linear, flex-basis 0.3s linear;

        .small-grid {
            display: flex;
            transition: display 0.3s linear;
            flex-direction: row;
            flex-wrap: wrap;
            .MuiCardHeader-root {
                width: 45%;
                transition: width 0.3s linear;
            }
        }
        .MuiCardMedia-root {
            height: 250px;
            transition: height 0.5s linear;
            width:50%;
            background-position: center;
            background-size: contain;
            padding-top: 0;
            margin-top: 1rem;
        }
    }
    .shrunk {
        transition: width 0.3s linear, max-width 0.3s linear, flex-basis 0.3s linear;
    }
}

.MuiCardHeader-root {
    flex-wrap: wrap;
    .MuiCardHeader-action {
        order: 1;
        width: 100%;
    }
    .MuiCardHeader-content {
        order: 2;
    }
}
.MuiCardContent-root {
    padding-bottom: 0 !important;
}

.makeStyles-healthList-366 {
    padding-left: 1rem;
}

.circle-center {
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiCircularProgress-root {
        width:80px !important;
        height: 80px !important;
    }
}
.chartcard {
    height: 400px;

    .MuiCardHeader-root {
        text-align: center;
    }

    svg {
        position: absolute;
        right: 20%;
        overflow: visible;
        top: -5rem;
    }
    .MuiCardContent-root {
        margin-top: -11rem;
    }
}

.h4-centered {
    margin: 0;
    align-self: center;
    margin-right: 1rem;
}

.MuiChip-root {
    margin-right: 0.2rem !important;
}

.snackbar-link {
    color: darkOrange !important;
}


.dashboard-paper {
    padding: 4px;
    text-align: center;
    margin-bottom: 1rem;
}

.clearIcon {
    position: absolute;
    right: 5%;
    top: 2%;
}

.MuiGrid-root {
    &.invisible {
        display: none;
        transition: display 0.5s linear;
    }
}

.searchItemChip {
    background-color: lightgreen !important;    
    color: white !important;
    font-weight: 700;
    svg {
        color: white;
    }
}
.badgeListItem {
    display: block !important;
    width: 150px !important;
    height: 150px !important;
;
    h3 {
        text-align: center;
    }
    .badge {
        width:100%;
        height: 80%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.next {
            opacity: 60%;
        }
        &.badge5kg {    
            background-image: url('./images/badges/1-recycle.svg');    
        }
        &.badge10kg {    
            background-image: url('./images/badges/2-recycle.svg');    
        }
        &.badge15kg {    
            background-image: url('./images/badges/3-recycle.svg');    
        }
        


    }
}